# Generated directories (e.g. through `npm run ...`)
build/
node_modules/
aws-distro-opentelemetry-node-autoinstrumentation/coverage/
aws-distro-opentelemetry-node-autoinstrumentation/src/version.ts

# Other
.git/
*.nyc_output/