## Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
## SPDX-License-Identifier: Apache-2.0

# This is a reusable workflow for running the E2E test for Application Signals.
# It is meant to be called from another workflow.
# Read more about reusable workflows: https://docs.github.com/en/actions/using-workflows/reusing-workflows#overview
name: E2E Testing
on:
  workflow_call:
    inputs:
      staging-instrumentation-name:
        required: true
        type: string
      adot-image-name:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

concurrency:
  group: '${{ github.workflow }} @ ${{ inputs.aws-region }}'
  cancel-in-progress: false


jobs:
  upload-main-build:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 #v5.0.0
        with:
          role-to-assume: arn:aws:iam::637423224110:role/${{ secrets.STAGING_ARTIFACTS_ACCESS_ROLE_NAME }}
          aws-region: us-east-1

      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 #v5.0.0
        with:
          name: ${{ inputs.staging-instrumentation-name }}

      - name: Upload main-build instrumentation to S3
        run: aws s3 cp ${{ inputs.staging-instrumentation-name }} s3://adot-autoinstrumentation-node-staging/${{ inputs.staging-instrumentation-name }}

  ec2-default:
    needs: [ upload-main-build ]
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-ec2-default-test.yml@main
    secrets: inherit
    with:
      aws-region: us-east-1
      staging-instrumentation-name: ${{ inputs.staging-instrumentation-name }}
      caller-workflow-name: 'main-build'

  ec2-asg:
    needs: [ upload-main-build ]
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-ec2-asg-test.yml@main
    secrets: inherit
    with:
      aws-region: us-east-1
      staging-instrumentation-name: ${{ inputs.staging-instrumentation-name }}
      caller-workflow-name: 'main-build'
      
  ec2-different-node-version:
    strategy:
      fail-fast: false
      matrix:
        node-version: [ '18', '20', '22' ]
    needs: [ upload-main-build ]
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-ec2-default-test.yml@main
    secrets: inherit
    with:
      aws-region: 'us-east-1'
      staging-instrumentation-name: ${{ inputs.staging-instrumentation-name }}
      node-version: ${{ matrix.node-version }}
      cpu-architecture: 'x86_64'
      caller-workflow-name: 'main-build'
      
  ec2-arm64-cpu-architecture:
    needs: [ upload-main-build ]
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-ec2-default-test.yml@main
    secrets: inherit
    with:
      aws-region: 'us-east-1'
      staging-instrumentation-name: ${{ inputs.staging-instrumentation-name }}
      cpu-architecture: 'arm64'
      caller-workflow-name: 'main-build'
      
  eks:
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-eks-test.yml@main
    secrets: inherit
    with:
      aws-region: us-east-1
      test-cluster-name: 'e2e-node-adot-test'
      adot-image-name: ${{ inputs.adot-image-name }}
      caller-workflow-name: 'main-build'

  ecs:
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-ecs-test.yml@main
    secrets: inherit
    with:
      aws-region: us-east-1
      adot-image-name: ${{ inputs.adot-image-name }}
      caller-workflow-name: 'main-build'

  k8s:
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-k8s-test.yml@main
    secrets: inherit
    with:
      aws-region: us-east-1
      adot-image-name: ${{ inputs.adot-image-name }}
      caller-workflow-name: 'main-build'

  lambda:
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-lambda-test.yml@lambda-failing
    secrets: inherit
    with:
      aws-region: us-east-1
      caller-workflow-name: 'main-build'

  
  adot-sigv4:
    needs: [ upload-main-build ]
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/node-ec2-adot-sigv4-test.yml@main
    secrets: inherit
    with:
      node-version: 22
      staging-instrumentation-name: ${{ inputs.staging-instrumentation-name }}
      caller-workflow-name: 'main-build'

  # This validation is to ensure that all test workflows relevant to this repo are actually
  # being used in this repo, which is referring to all the other jobs in this file.
  #
  # If this starts failing, then it most likely means that new e2e test workflow was
  # added to `aws-observability/aws-application-signals-test-framework`, but was not
  # added to this file. It could also mean that a test in this file has been removed.
  #
  # If a particular test file is intended to not be tested in this repo and should not
  # be failing this particular validation, then choose one of the following options:
  # - Add the test file to the exclusions input (CSV format) to the workflow
  #   (see: https://github.com/aws-observability/aws-application-signals-test-framework/blob/main/.github/workflows/validate-e2e-tests-are-accounted-for.yml#L1)
  # - Update the `validate-e2e-tests-are-accounted-for` job to change which "workflow files are expected to be used by this repo"
  #   (see: https://github.com/aws-observability/aws-application-signals-test-framework/blob/main/.github/workflows/validate-e2e-tests-are-accounted-for.yml)
  validate-all-tests-are-accounted-for:
    uses: aws-observability/aws-application-signals-test-framework/.github/workflows/validate-e2e-tests-are-accounted-for.yml@main